<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#tt-nav"
      aria-controls="tt-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="tt-nav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/buscar" routerLinkActive="active" class="nav-link"> Buscar Viajes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link"> Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registro" routerLinkActive="active" class="nav-link">Registro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
