@if (viaje; as trip) {
<div class="card border-0 rounded-3 overflow-hidden mb-4">
  <!-- Imagen del viaje/paisaje -->
  <img
    [src]="portadaImageUrl"
    [alt]="portadaImageAlt"
    class="card-img-top object-fit-cover"
    style="height: 320px"
  />

  <div class="container my-4">
    <div class="d-flex mb-3 gap-2">
      @if (esCreador) {
      <div class="d-flex align-items-start justify-content-start">
        <button class="btn btn-danger" (click)="eliminarViaje()">
          <i class="bi bi-trash"></i> Eliminar viaje
        </button>
      </div>
      } @if (esCreador) {
      <div class="d-flex align-items-start justify-content-start">
        <button class="btn btn-primary"><i class="bi bi-arrow-left-right"></i> Editar viaje</button>
      </div>

      }
    </div>
    <div class="row g-4">
      <!-- Columna principal -->
      <div class="col-lg-8">
        <!-- Imagen principal -->
        <div class="position-relative rounded overflow-hidden">
          <img
            [src]="mainImageUrl"
            [alt]="mainImageAlt"
            class="img-fluid w-100"
            style="max-height: 300px; object-fit: cover"
          />
          <div
            class="position-absolute bottom-0 start-0 w-100 bg-gradient-dark text-white p-3 d-flex flex-wrap align-items-center"
          >
            <div
              class="position-absolute bottom-0 start-0 w-100 bg-gradient-dark text-white p-3 d-flex flex-column align-items-start"
            >
              <div class="fw-bold fs-2 mb-2 text-shadow-black">{{ trip.title }}</div>
              <div class="d-flex flex-wrap align-items-center gap-2">
                <a
                  [href]="getGoogleMapsUrl(trip.latitude, trip.longitude, 12)"
                  target="_blank"
                  rel="noopener"
                  class="badge bg-light text-dark text-decoration-none"
                  ><i class="bi bi-geo-alt"></i> {{ trip?.destination }}
                </a>

                <span class="badge bg-light text-dark"
                  >{{ trip.start_date | date : 'd MMM' }} -
                  {{ trip.end_date | date : 'd MMM' }}</span
                >
                <span class="badge bg-success">{{ trip.estimated_cost }}€ /persona</span>
              </div>
            </div>
          </div>

          <button
            class="btn btn-outline-secondary btn-morado position-absolute top-0 end-0 m-3"
            type="button"
            [class.btn-success]="trip?.solicitado"
            [class.btn-outline-secondary]="!trip?.solicitado"
            [class.btn-morado]="!trip?.solicitado"
            (click)="toggleSolicitud(trip)"
          >
            {{ trip?.solicitado ? 'Solicitado' : 'Solicitar unirme' }}
          </button>
        </div>

        <!-- Descripción -->
        <section class="mt-4">
          <div class="fw-semibold fs-5 mb-1">Descripción del Viaje</div>
          <p class="mb-3">{{ trip.description }}</p>
        </section>

        <!-- Itinerario -->
        <section class="mb-4">
          <div class="fw-semibold mb-2"><i class="bi bi-list-ul"></i> Itinerario</div>
          <ul class="list-group">
            @for (dia of itinerarioPorDia; track dia) {
            <li class="list-group-item p-2">{{ dia }}</li>
            }
          </ul>
        </section>

        <section class="mb-4">
          <div class="fw-semibold mb-2">¿Qué incluye?</div>
          <div class="row g-2">
            <!-- Incluye -->
            <div class="col-12 col-md-6">
              <div class="fw-semibold mb-1 text-success">Incluye</div>
              @for (service of services; track service.control) { @if
              (detalleViaje[service.control]) {
              <div class="text-success mb-1">
                {{ service.label }}
              </div>
              } }
            </div>
            <!-- No incluye -->
            <div class="col-12 col-md-6">
              <div class="fw-semibold mb-1 text-danger">No incluye</div>
              @for (service of services; track service.control) { @if
              (!detalleViaje[service.control]) {
              <div class="text-danger mb-1">
                {{ service.label }}
              </div>
              } }
            </div>
          </div>
        </section>

        <!-- Requisitos -->
        <section>
          <div class="fw-semibold mb-1"><i class="bi bi-exclamation-circle"></i> Requisitos</div>
          <p class="mb-3">{{ trip.requirements }}</p>
        </section>
      </div>

      <!-- /Columna principal -->

      <!-- Columna lateral -->
      <div class="col-lg-4">
        <div class="card shadow-sm mb-0 border-0 rounded-4 overflow-hidden">
          <div
            class="card-body d-flex align-items-center"
            style="background: linear-gradient(90deg, #a78bfa 0%, #8b5cf6 50%, #3b82f6 100%)"
          >
            <div class="user-link text-white" (click)="irADetalleUsuario()">
              <app-card-usuario [usuario]="usuario"></app-card-usuario>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card-body">
            <div class="fw-semibold text-end small">
              Ultima actualización: {{ trip.updated_at | date : 'dd/MM/yyyy -  HH:mm' }}
            </div>
          </div>
        </div>
        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <div class="fw-semibold mb-3">Detalles</div>
            <div>
              <i class="bi bi-calendar-date"></i> <b> Fecha de inicio:</b>
              {{ trip.start_date | date : 'dd/MM/yyyy' }}
            </div>
            <div>
              <i class="bi bi-calendar-date"></i> <b> Fecha de fin:</b>
              {{ trip.end_date | date : 'dd/MM/yyyy' }}
            </div>
            <div class="my-2">
              <i class="bi bi-currency-euro"></i> <b> Coste por persona:</b>
              {{ trip.estimated_cost }}€
            </div>
            <div>
              <i class="bi bi-people"></i> <b> Minimo de viajeros:</b> {{ trip.min_participants }}
            </div>
          </div>
        </div>

        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <div class="fw-semibold mb-2">Transporte</div>
            <div class="">{{ trip.transport }}</div>
            <div class="fw-semibold mt-3 mb-2">Alojamiento</div>
            <div class="">{{ trip.accommodation }}</div>
          </div>
        </div>

        <!-- Compañeros de viaje -->
        <div class="fw-semibold mb-3 mt-3">Compañeros de viaje:</div>
        <div class="card shadow-sm mb-4 border-0 rounded-4 overflow-hidden">
          <div
            class="card-body d-flex align-items-center"
            style="background: linear-gradient(90deg, #a78bfa 0%, #8b5cf6 85%, #3b82f6 100%)"
          >
            <div class="user-link text-white" (click)="irADetalleUsuario()">
              <app-card-usuario [usuario]="usuario"></app-card-usuario>
            </div>
          </div>
        </div>
        <div class="card shadow-sm mb-4 border-0 rounded-4 overflow-hidden">
          <div
            class="card-body d-flex align-items-center"
            style="background: linear-gradient(90deg, #a78bfa 0%, #8b5cf6 85%, #3b82f6 100%)"
          >
            <div class="user-link text-white" (click)="irADetalleUsuario()">
              <app-card-usuario [usuario]="usuario"></app-card-usuario>
            </div>
          </div>
        </div>
        <div class="card shadow-sm mb-4 border-0 rounded-4 overflow-hidden">
          <div
            class="card-body d-flex align-items-center"
            style="background: linear-gradient(90deg, #a78bfa 0%, #8b5cf6 85%, #3b82f6 100%)"
          >
            <div class="user-link text-white" (click)="irADetalleUsuario()">
              <app-card-usuario [usuario]="usuario"></app-card-usuario>
            </div>
          </div>
        </div>

        <!-- Foro del viaje -->
        <div class="card shadow-sm mb-3 rounded-4">
          <div class="card-body">
            <div class="fw-semibold mb-2">Foro del viaje</div>
            <div class="small">Ultimos comentarios...</div>
          </div>
        </div>
      </div>

      <!-- /Columna lateral -->
    </div>
  </div>
</div>
} @else {
<div class="card border-0 rounded-3 overflow-hidden mb-4 text-center p-5">
  <span class="spinner-border"></span>
  <div class="mt-3">Cargando datos del viaje...</div>
</div>
}
