.text-shadow-black {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.btn-morado {
  background: linear-gradient(90deg, #a78bfa 0%, #8b5cf6 50%, #3b82f6 100%);
  color: #fff;
}
.btn-morado :hover {
  filter: brightness(1.05);
}

.color-principal {
  color: #5223b9;
}
