@if (!usuario) {
<div class="d-flex align-items-center text-shadow-black gap-2">
  <img
    src="https://img.freepik.com/psd-gratis/ilustracion-3d-avatar-o-perfil-humano_23-2150671142.jpg?semt=ais_hybrid&w=740&q=80"
    alt="Avatar genérico"
    class="rounded-1"
    style="width: 35px; height: 55px; object-fit: cover"
  />
  <div>
    <div class="fw-semibold fs-5">¡Registrate y descubrelo!</div>
  </div>
</div>
} @else {
<div class="d-flex align-items-center text-shadow-black gap-2">
  <img
    [src]="
      usuario.image ||
      'https://img.freepik.com/psd-gratis/ilustracion-3d-avatar-o-perfil-humano_23-2150671142.jpg?semt=ais_hybrid&w=740&q=80'
    "
    [alt]="usuario.username ? 'Avatar de ' + usuario.username : 'Avatar genérico'"
    class="rounded-1"
    style="width: 35px; height: 55px; object-fit: cover"
  />

  <div>
    <div class="fw-semibold fs-5">{{ usuario.username || 'Usuario anónimo' }}</div>
    @if (usuarioProvisional[0].valoracion) {
    <div class="d-flex align-items-center gap-1 text-shadow-black mt-1">
      @for (estrella of getEstrellas(usuarioProvisional[0].valoracion); track estrella.icon +
      estrella.color + $index) {
      <i class="bi {{ estrella.icon }} {{ estrella.color }}"></i>
      }
      <span>{{ usuarioProvisional[0].valoracion }}</span>
    </div>
    }
  </div>
</div>
}
