<strong>DEBUG 2</strong>
@if (!usuario) {
<div class="d-flex align-items-center text-shadow-black gap-2">
  <img
    src="https://i.pravatar.cc/150?u=default"
    alt="Avatar genérico"
    class="rounded-1"
    style="width: 35px; height: 55px; object-fit: cover"
  />
  <div>
    <div class="fw-semibold fs-5">¡Registrate y descubrelo!</div>
  </div>
</div>
} @else {
<div class="d-flex align-items-center text-shadow-black gap-2">
  <img
    [src]="usuario.image || 'https://i.pravatar.cc/150?u=default'"
    [alt]="usuario.username ? 'Avatar de ' + usuario.username : 'Avatar genérico'"
    class="rounded-1"
    style="width: 35px; height: 55px; object-fit: cover"
  />
  <div>
    <div class="fw-semibold fs-5">
      {{ usuario.username || 'Usuario anónimo' }}
    </div>
    <!-- @if (usuario.valoracion) {
    <div class="d-flex align-items-center gap-1 text-shadow-black">
      @for (estrella of getEstrellas(usuario.valoracion); track estrella.icon + estrella.color +
      $index) {
      <i class="bi {{ estrella.icon }} {{ estrella.color }}"></i>
      }
      <span>{{ usuario.valoracion }}</span>
    </div>
    } -->
  </div>
</div>
}
