.viaje-card {
  position: relative;
  cursor: pointer;
  min-height: 630px;
  height: 630px;
  max-height: 330px;
  
  transition: box-shadow 0.2s;
}
.viaje-card .layer-base {
  z-index: 1;
}
.viaje-card .layer-info {
  z-index: 2;
  background: whitesmoke;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  font: black;
  font-weight: bold;
  font-size: large;
  min-height: 330px;
  height: 330px;
  max-height: 330px;
  display: flex;
  align-items: center;
}
.viaje-card:hover .layer-info,
.viaje-card:focus-within .layer-info {
  opacity: 1;
  pointer-events: auto;
  
}

.badge {
    font-size: 0.95rem;
}

.text-shadow-black {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.card-img-zoom {

  transition: transform 0.4s cubic-bezier(.4,0,.2,1);
  will-change: transform;
}


.viaje-card:hover .card-img-zoom ,
.viaje-card:focus-within .card-img-zoom {
  transform: scale(1.1); /* o 0.9, ajusta el zoom-out a tu gusto */
  
}

@keyframes shake-effect {
  0%   { transform: translate(0px, 0px); }
  20%  { transform: translate(-3px, 2px); }
  40%  { transform: translate(3px, -2px); }
  60%  { transform: translate(-2px, 3px); }
  80%  { transform: translate(2px, -3px); }
  100% { transform: translate(0px, 0px); }
}

.viaje-card:hover .card-img-shake,
.viaje-card:focus-within .card-img-shake {
  animation: shake-effect 0.5s cubic-bezier(.36,.07,.19,.97) 1;
}